<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto bg-white">
        <li>
            <a class="text-black nav-link" href="{% url 'home' %}" id="home-link">
                                <div class="text-center">
                                    <p class="pt-3 my-0 text-black">Home</p>
                                </div>
                            </a>
        </li>
        <hr class="w-50">
        <li class="nav-item dropdown">
                            <a class="text-black nav-link" href="{% url 'products' %}">
                                <div class="text-center">
                                    <p class="pt-3 my-0 text-black">All Bikes</p>
                                </div>
                            </a>
        </li>
        <hr class="w-50">
        <li class="nav-item dropdown">
                            <a class="text-black nav-link" href="{% url 'bike_type_landing' %}">
                                <div class="text-center">
                                    <p class="pt-3 my-0 text-black">Bike Categories</p>
                                </div>
                            </a>
        </li>
        <hr class="w-50">
        <li class="nav-item dropdown">
                            <a class="text-black nav-link" href="{% url 'brand_landing' %}">
                                <div class="text-center">
                                    <p class="pt-3 my-0 text-black">Top Bike Brands</p>
                                </div>
                            </a>
        </li>
        <hr class="w-50">
        <li class="nav-item dropdown">
                            <a class="text-black nav-link" href="{% url 'condition_landing' %}">
                                <div class="text-center">
                                    <p class="pt-3 my-0 text-black">Condition</p>
                                </div>
                            </a>
        </li>
        <hr class="w-50">
        <li class="nav-item dropdown">
                            <a class="text-black nav-link" href="{% url 'products' %}?deals=yes,no">
                                <div class="text-center">
                                    <p class="pt-3 my-0 mb-2 text-black">Deals</p>
                                </div>
                            </a>
        </li>
    </ul>
</div>