<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto bg-white">
        <li class="nav-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <p class="pt-3 my-0 text-black">Bikes</p>
                                </div>
                            </a>
        </li>
        <li class="nav-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <p class="pt-3 my-0 text-black">Bikes</p>
                                </div>
                            </a>
        </li>
        <li class="nav-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <p class="pt-3 my-0 text-black">Bikes</p>
                                </div>
                            </a>
        </li>
        <li class="nav-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <p class="pt-3 my-0 text-black">Bikes</p>
                                </div>
                            </a>
        </li>
    </ul>
</div>