{% extends "base.html" %}
{% load static %}

<!-- page header to push the top of it down to the bottom of the main nav bar and site header. -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_title %} | Bike Condition {% endblock %}



{% block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card mb-5" style="width: 100%; height: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">New</h5>
                    <p class="card-text">A brand-new, unused, unopened and undamaged item in the original packaging (where packaging is applicable). Packaging should be the same as what is found in the retail shop. If the item comes straight from the manufacturer it may be delivered in non-retail packaging, such as an unprinted box or plastic bag. See the seller's listing for full details.</p>
                    <a href="{% url 'products' %}?condition=new" class="card-link">Click here for new bikes!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card" style="width: 100%; height: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Used</h5>
                    <p class="card-text">An item that has been previously used. The item may have some signs of cosmetic wear, but is fully operational and functions as intended. This item may be a floor model or an item that has been returned to the seller after a period of use. See the seller’s listing for full details and description of any imperfections.</p>
                    <a href="{% url 'products' %}?condition=used" class="card-link">Click here for used bikes!</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}