{% extends "base.html" %}
{% load static %}

<!-- page header to push the top of it down to the bottom of the main nav bar and site header. -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content%}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ products }}
            </div>    
        </div>
    </div>
{% endblock %}